<html lang="en"  xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    <h1>For Member</h1>
    <div sec:authorize="hasRole('USER')">Has User Role</div>
    <div sec:authorize="hasRole('MANAGER')">Has Manager Role</div>
    <div sec:authorize="hasRole('ADMIN')">Has Admin Role</div>

    <div sec:authorize="isAuthenticated()">
      only Authenticated user can see this Text
    </div>

    <div>
      Authenticated username:
    </div>

    <div sec:authentication="name">
    </div>

    <div>
      Authenticated user roles
    </div>
    <div sec:authentication="principal.authorities">

    </div>

  </div>
</body>
</html>